:root {
  --red: #e62429;
  --black: #151515;
  --superBlack: #212020;
  --gray-dark: #393939;
  --white: #F2F2F2;
  --yellow: #f2ba52;
}



*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  background: var(--gray-dark);
  color: var(--white);
}


main{
  width: 100%;
  margin: 10px auto;
  position: relative;
  padding: 5px 0;
}

h2{
  color: var(--white);
  padding: 1rem;
  font-size: 2rem;
  text-align: center;
  line-height: 0.8rem;
}

h2 .line{
  color: var(--yellow);
}

section{
  width: 75rem;
  height: 32rem;
  margin: auto;
  display: flex;
  align-items: center;
  text-align: center;
  overflow-x: auto;
  padding: 1rem 0;
  /* border: 1px solid yellow; */
}

section::-webkit-scrollbar{
  display: none;
}

section .card{
  min-width: 20rem;
  height: 30rem;
  background: var(--superBlack);
  margin: 0 2.4rem;
  padding: 6px 0;
  border-radius: 18px;
  position: relative;
  left: 0;
  box-shadow: 6px 8px 14px rgba(242, 242, 242, 0.1);
  transition: 0.5s;
}

picture{
  width: 100%;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
  
}

picture img{
  width: 200px;
  height: 200px;
  border-radius:50%;
  object-fit: cover;
  border: 2px solid var(--white);
}

.dev__name{
  font-size: 1.5rem;
  font-weight: 300;
  font-style: normal;
  line-height: 3rem;
}

.dev__cargo{
  font-size: 1.2rem;
  font-weight: 300;
  font-style: normal;
}

.btn__social{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  margin: 3rem auto;
  font-size: 1rem;
  font-weight: 500;
  font-style: normal;
  line-height: 2rem;
  text-decoration: none;
  color: var(--white);
  padding: 0.4rem;
  border: 1px solid var(--yellow);
  border-radius: 18px;
}

.btn__social:hover{
  background-color: var(--yellow);
  color: var(--black);
  transition: 0.4s ease;
}

controls{
  position: absolute;
  width: 100%;
  text-align: center;
  justify-content: center;
  padding-top: 1rem;
  top: 250px;
  /* border: 1px solid red; */

}

controls p{
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-between;
  width: 94%;
  /* border: 1px solid blueviolet; */
}

controls p span{
  font-size: 4rem;
  margin: 0 5px;
  cursor: pointer;
  color: var(--white);
  width: 30px;
  height: 30px;
  display: inline-block;
  line-height: 19px;
  text-align: center;
  border-radius: 3px;
}

controls p span:hover {
  background: var(--gray-dark);
  color: var(--white);
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {  }

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {  }

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {  }

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { }


/* controls{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}

controls p span{
  font-size: 4rem;
  margin: 0 5px;
  cursor: pointer;
  color: white;
  width: 30px;
  height: 30px;
  display: inline-block;
  line-height: 19px;
  text-align: center;
  border-radius: 3px;
}

controls p span:hover {
  background: var(--gray-dark);
  color: white;
} */